server {
    listen       80;
    listen  [::]:80;

    rewrite ^\/app$ /app/index.html break;
    rewrite ^\/app\/.+$ /app/index.html break;
    rewrite ^\/$ app/ permanent;

    location / {
        root   /usr/share/nginx/html;
        index  index.html;
    }

    location /api {
        rewrite \/api\/?(.*) /$1 break;
        proxy_pass ${BACKEND_URL};
    }
}
